ion-content {
  --background: url("/assets/fondoSplash.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.app-header {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logout-button {
  --background: rgba(255, 82, 93, 0.8);
  --border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 55%;
  text-align: center;
  margin-left: 20vw;
  margin-top: 1vw;
}

.imagen {
  width: 100%;
  padding: 5%;
  border-radius: 30px;
  cursor: pointer;
  background-color: #ff525d;
}

.item {
  text-align: center;
}

.image-container-cuadro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  justify-items: center;
  align-items: center;
  margin-top: 12vw;
}

.image-container-chico {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 80%;
  text-align: center;
  margin-left: 9vw;
  margin-top: 10vw;
}

.imagen-chica {
  cursor: pointer;
  background-color: #ff525d;
  width: 100%;
  padding: 5%;
  border-radius: 30px;
}

.imagen-grande {
  cursor: pointer;
  background-color: #ff525d;
  width: 100%;
  padding: 5%;
  border-radius: 30px;
}

.image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin-top: 40vw;
}

.header {
  background-color: #355ca1;
  text-align: center;
  padding: 1vw 0;
  width: 100%;
}

.header h1 {
  color: #ffffff;
  background-color: #355ca1;
  border-radius: 12px;
  padding: 5px;
  font-size: 1.5em;
  margin: 0;
}

.avatar-text {
  font-size: 4vw;
  color: #fff;
  text-align: center;
  width: 100%;
}

ion-icon {
  font-size: 30px;
}

ion-title {
  font-size: 1.5em;
}

ion-toolbar {
  --background: #355ca1;
  color: #ffffff;
}
