<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Alta de Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-oscuro">
  <div class="safe-area">
    <div class="register-container">
      <h1 class="titulo-principal">Bom apetite</h1>
      <hr class="linea-divisoria" />
      <h3 class="subtitulo-principal">Alta de Empleado</h3>

      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <ion-list class="contenido-registro">
          <ion-item class="input-item">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>
          <ion-note *ngIf="isFieldInvalid('nombre')" class="error-msg">
            {{ getErrorMessage('nombre') }}
          </ion-note>

          <ion-item class="input-item">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-note *ngIf="isFieldInvalid('email')" class="error-msg">
            {{ getErrorMessage('email') }}
          </ion-note>

          <ion-item class="input-item">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input formControlName="apellido" type="text"></ion-input>
          </ion-item>
          <ion-note *ngIf="isFieldInvalid('apellido')" class="error-msg">
            {{ getErrorMessage('apellido') }}
          </ion-note>

          <ion-item class="input-item">
            <ion-label position="floating">DNI</ion-label>
            <ion-input formControlName="dni" type="text"></ion-input>
            <ion-button slot="end" fill="clear" (click)="leerQR()">
              <ion-icon name="qr-code-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-note class="info-note">
            Puede escanear el código QR de su DNI para cargar los datos
            automáticamente.
            <br /><a (click)="mostrarAyudaQR()">¿Problemas con el lector QR?</a>
          </ion-note>
          <ion-note *ngIf="isFieldInvalid('dni')" class="error-msg">
            {{ getErrorMessage('dni') }}
          </ion-note>

          <ion-item class="input-item">
            <ion-label position="floating">CUIL</ion-label>
            <ion-input formControlName="cuil" type="text"></ion-input>
          </ion-item>
          <ion-note *ngIf="isFieldInvalid('cuil')" class="error-msg">
            {{ getErrorMessage('cuil') }}
          </ion-note>

          <ion-item class="input-item">
            <ion-label position="floating">Tipo de Empleado</ion-label>
            <ion-select formControlName="rol" interface="popover">
              <ion-select-option
                *ngFor="let role of employeeRoles"
                [value]="role.value"
                >{{ role.label }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-note *ngIf="isFieldInvalid('rol')" class="error-msg">
            {{ getErrorMessage('rol') }}
          </ion-note>

          <ion-item class="input-item">
            <ion-label position="floating">Foto (Opcional)</ion-label>
            <ion-input
              formControlName="foto"
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="employeeForm.invalid"
            class="btn-registrar"
          >
            Dar de Alta
          </ion-button>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
