/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


* {
  font-family: LoveYaLikeASister;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  background-color:  #4c4f32;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loading-label {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color:  #757a4d;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 'LoveYouLikeASister';
  font-size: 17px;
}

.logo {
  width: 80px;
  height: auto;
}

ion-spinner {
  width: 24px;
  height: 24px;
}


ion-alert.select-alert {
  --background:  #94a702; /* or whatever color you would like */
  
   /* Estilo de los botones */
   button {
    color:black !important;
    font-size: 20px !important;
  }

  .alert-radio-label {
    font-size: 20px !important;/* Tamaño del texto de las opciones */
    color: black; /* Color del texto de las opciones */
     /* Texto en negrita (opcional) */
  }
}

