<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-content">
    <img src="assets/icons/icon-loading.png" alt="Bon Appétit" class="logo" />
    <div class="loading-label">
      <ion-spinner name="crescent"></ion-spinner>
      <span>Cargando cuenta...</span>
    </div>
  </div>
</div>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/menu-mesa">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<app-custom-alert #customAlert></app-custom-alert>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="card-container" *ngIf="!isLoading">
    <ion-card>
      <ion-card-content class="cuenta">
        <ion-card-title>Detalle de Cuenta</ion-card-title>
        <br />
        <ion-list>
          <ion-item *ngFor="let producto of pedido?.productos">
            <p class="descripcion-producto">{{ producto.nombre }}</p>
            <div class="cantidad-container">
              <span class="cantidad-text"
                >${{producto.precio}} x {{producto.cantidad}}
              </span>
            </div>
          </ion-item>
        </ion-list>
        <br />
        <p class="detalles">
          <strong>Propina:</strong> ${{ porcentaje }}
          <span *ngIf="agregaPropina2">({{porcentajeSeleccionado}}%)</span>
        </p>
        <p class="detalles">
          <strong>Monto Final:</strong>
          <span style="font-weight: bold; font-size: 1.5em"
            >${{ this.totalCuenta }}</span
          >
        </p>
        <ion-button
          *ngIf="!agregaPropina2"
          color="warning"
          expand="block"
          (click)="escanearPropinaQR()"
        >
          <ion-icon name="qr-code-outline" slot="start"></ion-icon>
          Escanear QR para Propina
        </ion-button>
        <ion-button
          *ngIf="agregaPropina2"
          color="danger"
          expand="block"
          (click)="cancelarPropina()"
        >
          <ion-icon name="close-circle-outline" slot="start"></ion-icon>
          Cancelar Propina
        </ion-button>
        <ion-button color="success" expand="block" (click)="pagarPedido()">
          <ion-icon name="card-outline" slot="start"></ion-icon>
          Pagar pedido
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
