<div *ngIf="loading || loading2" class="loading-overlay">
  <div class="loading-content">
    <img src="assets/icons/icon-512.webp" alt="Logo Empresa" class="logo" />
    <div class="loading-label">
      <ion-spinner name="crescent"></ion-spinner>
      <span>Cargando clientes...</span>
    </div>
  </div>
</div>
  
@if(loading || loading2){
  <ion-header>
    <ion-toolbar class="custom-header">
      <ion-title>Clientes Pendientes</ion-title>
    </ion-toolbar>
  </ion-header>
}
@else if(usuario!.perfil === 'supervisor' ){
  <ion-header>
    <ion-toolbar class="custom-header">
      <ion-buttons slot="start">
        <ion-button routerLink="/home">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Clientes Pendientes</ion-title>
    </ion-toolbar>
  </ion-header>
}
@else if(usuario!.perfil === 'duenio'){
  <ion-header>
    <ion-toolbar class="custom-header">
      <ion-title>Clientes Pendientes</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
}
  
<ion-content>
  <div *ngIf="!loading && !loading2" class="container-fluid">
    <div class="feed-container">
      
      <div *ngFor="let user of pendingUsers" class="feed-item">
        
        
        <div class="photo-container">
          <img [src]="user.imagen" class="img-fluid" alt="Foto del usuario" />
        </div>

       
        <div class="details-container">
          <div class="user-info">
            <p class="user">{{ user.nombre }} {{ user.apellido }}</p>
            <p class="email">Email: {{ user.mail }}</p>
            <p class="email">DNI: {{ user.dni }}</p>
          </div>

         
          <div class="action-buttons">
            <ion-button class="aceptar-button" (click)="aprobarUsuario(user.id, user.nombre, user.mail)" fill="solid" size="small">
              Aceptar
            </ion-button>
            <ion-button class="rechazar-button" (click)="rechazarUsuario(user.id, user.nombre, user.mail)" fill="solid" size="small">
              Rechazar
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
  
  