<ion-header>
  <ion-toolbar>
    <ion-title>Clientes Pendientes de Aprobación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding fondo-oscuro">
  <ion-card *ngIf="clientesPendientes.length === 0" class="no-clients-card">
    <ion-card-header>
      <ion-card-title>No hay clientes pendientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Actualmente no hay usuarios registrados que requieran su aprobación.
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="clientesPendientes.length > 0">
    <ion-card *ngFor="let cliente of clientesPendientes">
      <ion-card-header>
        <ion-card-title
          >{{ cliente.name }} {{ cliente.surname }}</ion-card-title
        >
        <ion-card-subtitle>{{ cliente.email }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Registrado: {{ cliente.created_at | date:'short' }}</p>
        <ion-row class="ion-justify-content-end">
          <ion-col size="auto">
            <ion-button color="success" (click)="aceptarCliente(cliente)">
              <ion-icon slot="start" name="checkmark-circle"></ion-icon>
              Aprobar
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button color="danger" (click)="rechazarCliente(cliente)">
              <ion-icon slot="start" name="close-circle"></ion-icon>
              Rechazar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
