.splash-animated-container {
    background-image: url('/assets/fondoSplash.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 150px; /* Desplaza todo un poco hacia abajo */
  
    .splash-icon {
      width: 150px;
      height: 150px;
      animation: smoothFadeIn 2s ease-out forwards;
      animation-delay: 3s; 
    }
  
    .splash-name {
      font-size: 2.8rem;
      color: #3b2e1d;
      animation: smoothSlideDown 2s ease-out forwards;
      animation-delay: 3s;
    }
  
    .splash-name2 {
      font-size: 25px;
      color: #3b2e1d;
      margin-top: -20px; /* Menor espacio entre splash-name y splash-name2 */
      margin-bottom: 2rem; 
      animation: smoothSlideDown 2s ease-out forwards; 
      animation-delay: 4s;
      opacity: 0;
    }
  
    .integrante1,
    .integrante2,
    .integrante3 {
      font-size: 30px;
      color: #3b2e1d;
      margin-top: -10px; 
      animation-duration: 2s;
      animation-fill-mode: forwards;
      opacity: 0; /* se ocultan inicialmente */
    }
  
    .integrante1 {
      animation-name: slideInFromLeft;
      animation-delay: 5.5s;
    }
  
    .integrante2 {
      animation-name: slideInFromRight;
      animation-delay: 6s;
    }
  
    .integrante3 {
      animation-name: slideInFromLeft;
      animation-delay: 6.5s;
    }
  }
  
  @keyframes smoothFadeIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    80% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes smoothSlideDown {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    80% {
      transform: translateY(10%);
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }